.containerNotification {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerIcon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.2s ease, border 0.3s ease;
  background-color: rgb(22, 22, 22);
  border: 2px solid transparent;
  position: relative;
}
.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #ff6700;
  color: white;
  font-size: 10px;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerIcon:hover {
  background-color: rgb(22, 22, 22);
  border: 2px solid var(--color-primary-hover);
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
