.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal {
  background-color: rgba(18, 18, 18, 0.95);
  box-shadow: 0px 0px 5px black;
  padding: 50px 40px;
  border-radius: 12px;
  width: 700px;
  height: 700px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.title {
  text-align: center;

  padding: 20px;
  border-bottom: 1px solid var(--color-primary-hover);
}
.main {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 15px;
}
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: rgba(78, 78, 78, 0.195);
  border-radius: 10px;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}
.close:hover {
  border: 2px solid var(--color-primary-hover);
}
.clear {
  position: absolute;
  bottom: 15px;
  left: 15px;
  transition: color 0.3s ease;
}
.clear:hover {
  color: var(--color-primary-hover);
}
