.containerLanding {
  margin-top: 5px;
  height: 100%;
  display: flex;
  transition: width 0.3s ease, border-radius 0.3s ease,
    background-color 0.3s ease;
  width: 90%;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 5px black;
}
.containerLanding:hover {
  background-color: rgba(0, 0, 0, 0.85);
}
.trevoo {
  width: 350px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 30px;
}
.containerBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 60px;
}
.containerBtn button {
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid transparent;
  padding: 13px 18px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-family: "Comfortaa", sans-serif;
  transition: border 0.3s ease;
  background-color: rgba(78, 78, 78, 0.195);
}
.containerBtn button:hover {
  border: 2px solid #ff6700;
}
