.containerFindFriends {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.containerInput {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  flex-shrink: 0;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.inputWrapper form {
  position: relative;
  width: 100%;
}

.inputWrapper input {
  width: 100%;
  padding: 14px 140px 14px 16px;
  font-size: 1rem;
  border-radius: 8px;
  border: 2px solid transparent;
  box-shadow: 0px 0px 5px #d3d3d361;
  outline: none;
  background-color: rgba(78, 78, 78, 0.195);
  color: white;
  transition: border 0.3s ease;
}

.searchButton {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  height: 36px;

  border: 1px solid transparent;
  padding: 0 14px;
  border-radius: 8px;

  background-color: rgba(78, 78, 78, 0.195);
  color: white;
  cursor: pointer;

  font-size: 14px;
  white-space: nowrap;
  font-family: "Comfortaa", sans-serif;

  transition: border 0.3s ease, background-color 0.3s ease;
}

.searchButton:hover {
  border: 1px solid var(--color-primary-hover);
  background-color: rgb(27, 26, 26);
}

.inputWrapper p {
  margin-top: 6px;
  font-size: 13px;
  color: #e53935;
}

.containerListFindFriends {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

.success {
  color: green;
}
