.containerFindFriends {
  flex: 1;
  height: 100%;
  background-color: rgba(18, 16, 16, 0.827);
  overflow: hidden;
}
.containerBtn {
  border-bottom: 1px solid rgba(177, 175, 175, 0.299);
  gap: 10px;
  display: flex;
  padding: 12px 5px;
}
.btn {
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid transparent;
  transition: border 0.3s ease, background-color 0.3s ease;
  padding: 13px 18px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-family: "Comfortaa", sans-serif;
  background-color: rgba(78, 78, 78, 0.195);
  padding: 5px 7px;
  font-size: 15px;
  text-decoration: none;
}
.btn:hover {
  border: 2px solid var(--color-primary-hover);
  background-color: rgb(27, 26, 26);
}
.containerListFindFriends {
  flex: 1;
  height: 100%;
}
