.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: rgba(18, 18, 18, 0.95);
  box-shadow: 0px 0px 5px black;
  padding: 30px 40px;
  border-radius: 12px;
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.modal h2 {
  text-align: center;
  font-weight: 700;
  font-size: 1.8rem;
  color: var(--color-text);
  margin-bottom: 20px;
}
.modal form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.modal label {
}
.modal input {
  width: 100%;
  padding: 14px 16px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  border: 2px solid transparent;
  box-shadow: 0px 0px 5px #d3d3d361;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
  background-color: rgba(78, 78, 78, 0.195);
  color: white;
}
.modal input:focus {
  border-color: var(--color-primary-hover);
  box-shadow: 0 0 5px #ff660061;
  background-color: rgba(21, 21, 21, 0.7);
}
.modal form button {
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 13px 18px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-family: "Comfortaa", sans-serif;
  transition: border 0.3s ease, background-color 0.3s ease;
  background-color: rgba(78, 78, 78, 0.195);
  margin-top: 20px;
}

.modal form button:hover {
  border: 1px solid var(--color-primary-hover);
  background-color: rgb(27, 26, 26);
}
.requred {
  color: #ff6700;
  margin-left: 2px;
  font-weight: 700;
}

/***         */
.overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal2 {
  background-color: rgba(18, 18, 18, 0.95);
  box-shadow: 0px 0px 5px black;
  padding: 30px 40px;
  border-radius: 12px;
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 13px 18px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-family: "Comfortaa", sans-serif;
  transition: border 0.3s ease, background-color 0.3s ease;
  background-color: rgba(78, 78, 78, 0.195);
  margin-top: 20px;
}
.btn:hover {
  border: 1px solid var(--color-primary-hover);
  background-color: rgb(27, 26, 26);
}
.title {
  text-align: center;
  font-weight: 700;
  font-size: 1.8rem;
  color: red;
  margin-bottom: 20px;
}
.p {
  display: flex;
  align-items: center;
  justify-content: center;
}
.error {
  color: red;
  font-size: 12px;
  height: 5px;
}
